li a {
    letter-spacing: 2px;
    font-size: 28px;
    color: #000000;
    list-style-type: upper-roman;
    text-indent: 60px;
}

.index {
    background: white url("images/smooth.png");
    background-position: left top;
}

.detail {
    background: white url("images/smoothie.jpg");
    background-position: left top;
}

.results {
    background: white url("images/smooth.jpg");
    background-position: left top;
}
