{% extends "todo/base.html" %}

{% block content %}
<div>
  <h1>List of Todos</h1>
  <a href="/todo/create/"><input type="submit" value="Click here to add a new todo" /></a>
</div>
<ul>
  {% for todo in todos %}
    <div class="listElement">
      {% if todo.todo_completed == False %}
        <li id="textfield" style="color:red;">{{ todo.todo_description}}</li>
      {% elif todo.todo_completed == True %}
        <li id="textfield" style="color:green;">{{ todo.todo_description}}</li>
      {% endif %}
      <button onclick="editView()" style="float=left;">Edit</button>
    </div>
  {% endfor %}
</ul>
{% endblock %}
